.outline{
color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

.project-outline{
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

.outline-step{
    
    color: var(--white);
    text-shadow:
    -1px -1px 0 var(--dark),
    1px -1px 0 var(--dark),
    -1px 1px 0 var(--dark),
    1px 1px 0 var(--dark);
}

